.player {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative; 
}

.avatars {
    border-radius: 50%; /* To ensure the video is circular, if it isn't already */
}

.player-info {
    position: absolute;
    bottom: -24px; 
    left: 3%;
    transform: translateX(-50%); 
    padding: 5px;
    width: 8em;
    height: 1m;
    color: aliceblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* This will ensure long usernames are truncated with '...' */
}
