.deck {
  position: absolute;
  width: 12.5rem;
  height: 7.5rem;
  left: 60%;
  top: 16rem;
  transition: width 2s height 2s;
}
.deck:hover {
  width: 12.6rem;
  height: 7.6rem;
  filter: drop-shadow(0px 0px 1px black);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .deck {
    position: absolute;
    width: 12.5rem;
    height: 7.5rem;
    left: 40%;
    top: 6rem;
    transition: width 2s height 2s;
  }
}
