:root {
  overflow: hidden;
}

.bg {
  background-image: url('./assets/table.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  flex: 1;
  overflow: hidden;
  padding-top: 2.5rem;
}

.home {
  background-image: url('./assets/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  flex: 1;
  overflow: hidden;
  padding-top: 2.5rem;
}

.avators {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 0.8rem;
  background-color: rgb(28, 30, 30, 0.8);
  display: block;
}

video {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  overflow: hidden;
}

.img {
  width: 6rem;
  height: 7rem;
  transition: width 2s height 2s;
}
.img:hover {
  width: 6.8rem;
  height: 7.8rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0.5rem;
  width: 100%;
  height: 8rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.glow {
  -webkit-animation: glow 2s ease infinite;
  -moz-animation: glow 2s ease infinite;
  animation: glow 2s ease infinite;
}

.deck {
  position: absolute;
  width: 12.5rem;
  height: 7.5rem;
  left: 60%;
  top: 16rem;
  transition: width 2s height 2s;
}
.deck:hover {
  width: 12.6rem;
  height: 7.6rem;
  filter: drop-shadow(0px 0px 1px black);
  cursor: pointer;
}

.card {
  transition: transform 0.3s, opacity 0.2s;
  cursor: pointer;
}

.declare {
  position: absolute;
  left: 20%;
  top: 10rem;
  height: 5rem;
  width: 17rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.declare-cards {
  width: 4rem;
  height: 4rem;

  cursor: pointer;
}

.declare-cards:hover {
  filter: drop-shadow(0px 0px 1px black);
  width: 4.2rem;
  height: 4.2rem;
}

.declared {
  position: absolute;
  left: 40%;
  top: 10rem;
  width: 4rem;
  height: 4rem;
}

.next {
  position: absolute;
  left: 60%;
  top: 63%;
  width: 8rem;
  height: 4rem;
  transition: width 2s, height 2s;
  cursor: pointer;
}
.next:hover {
  width: 7rem;
  height: 3rem;
  cursor: pointer;
}

.parent {
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 28%;
  right: 0;
  margin: auto;
}

.parent.perspective {
  perspective: 50em;
}

.child {
  width: 110px;
  height: 100px;
}

.hand {
  width: 100%;
  height: 225px;
}
.hand > li {
  position: absolute;
  -moz-transition: top 0.5s ease 0.1s, left 0.5s ease 0.2s,
    -moz-transform 0.5s ease 0.2s;
  -o-transition: top 0.5s ease 0.1s, left 0.5s ease 0.2s,
    -o-transform 0.5s ease 0.2s;
  -webkit-transition: top 0.5s ease, left 0.5s ease, -webkit-transform 0.5s ease;
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}
.hand > li:nth-child(1) {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.hand > li:nth-child(2) {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.hand > li:nth-child(3) {
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
.hand > li:nth-child(4) {
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}
.hand > li:nth-child(5) {
  -moz-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
  transform: rotate(9deg);
}
.hand > li:nth-child(6) {
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
}
.hand > li:nth-child(7) {
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.hand > li:hover {
  left: 0;
  top: -30px;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3),
    0 0 50px rgba(255, 255, 200, 0.8);
  -webkit-box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3),
    0 0 50px rgba(255, 255, 200, 0.8);
  box-shadow: inset 0 0 80px rgba(150, 100, 50, 0.3),
    0 0 50px rgba(255, 255, 200, 0.8);
}
.hand:hover > li:nth-child(1) {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  left: 0px;
}
.hand:hover > li:nth-child(2) {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 30px;
}
.hand:hover > li:nth-child(3) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  left: 60px;
}
.hand:hover > li:nth-child(4) {
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  left: 90px;
}

.hand {
  zoom: 1;
}
.hand:before,
.hand:after {
  content: '';
  display: table;
}
.hand:after {
  clear: both;
}

.hand > li {
  top: 0px;
  left: 0;
  list-style: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  -moz-transform: translateZ(0deg);
  -webkit-transform: translateZ(0deg);
  transform: translateZ(0deg);
}

.parent.perspective .child {
  transform: rotateX(50deg);
}

.parent.transform .child {
  transform: perspective(50em) rotateX(50deg);
  background: deepskyblue;
}

.room-message {
  display: table;
  margin: 18rem auto;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span {
  color: #aaaaaa;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23rem;
  height: 8.8rem;
  justify-content: space-between;
}

.w3-modal {
  z-index: 3;
  padding-top: 12rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.w3-modal2 {
  z-index: 3;
  padding-top: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 110%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.w3-animate-opacity {
  animation: opac 0.8s;
}
@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.w3-modal-content {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 0;
  outline: 0;
  width: 22rem;
  height: 10rem;
  border-radius: 2rem;
}

.w3-modal-content2 {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 0;
  outline: 0;
  width: 28rem;
  height: 32rem;
  border-radius: 2rem;
}

.w3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w3-container p {
  color: #aaaaaa;
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.w3-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}
.w3-container,
.w3-panel {
  padding: 0.01em 16px;
}
.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w3-display-topright {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

.modal-container span p {
  margin-top: 1rem;
}
.num-players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
}
.small {
  width: 10rem;
}
.num-players div {
  width: 5rem;
  display: flex;
  flex-direction: column;
  box-align: center;
  align-items: center;
}
.w3-button {
  color: #aaaaaa;
  font-weight: 500;
}
.num-players div img:hover {
  width: 3.5rem;
  cursor: pointer;
}

.num-players div p {
  font-size: 0.7rem;
}

.modal-container p {
  font-size: 0.7rem;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-lnading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1rem;
  color: #aaaaaa;
  border-bottom: 0.2px solid #414040;
}

.card-lnading button {
  width: 6rem;
  height: 2rem;
  border-radius: 2em;
  font-size: 0.7em;
  color: #aaaaaa;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
span h4 {
  color: #aaaaaa;
}
.join-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-input input {
  padding: 0.3em 1.2em;
  width: 14rem;
  height: 2.5rem;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: all 0.2s;
}
#code-input {
  margin-top: 2em;
}

.join-input input,
.join-input button {
  margin-top: 1rem;
}

.button-link {
  margin-top: 2.5rem;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
@keyframes glow {
  from {
    box-shadow: 0 0 green;
  }

  to {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #aaaaaa;
  background: rgba(122, 0, 255, 0.35);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.35),
    rgba(255, 115, 0, 0.35),
    rgba(255, 251, 0, 0.35),
    rgba(73, 255, 0, 0.35),
    rgba(0, 255, 213, 0.35),
    rgba(0, 43, 255, 0.35),
    rgba(0, 0, 0, 0.35),
    rgba(255, 0, 200, 0.35),
    rgba(255, 0, 0, 0.35)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
