:root {
  overflow: hidden;
}

.bg {
  background-image: url('./assets/table.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  width: 120vw;
  flex: 1;
  overflow: hidden;
  padding-top: 2.5rem;
}

.home {
  background-image: url('./assets/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  flex: 1;
  overflow: hidden;
  padding-top: 2.5rem;
}

.avators {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-top: 0.8rem;
  background-color: rgb(28, 30, 30, 0.8);
  display: block;
}

video {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  overflow: hidden;
}

.img {
  width: 6rem;
  height: 7rem;
  transition: width 2s height 2s;
}
.img:hover {
  width: 6.8rem;
  height: 7.8rem;
}

.glow {
  -webkit-animation: glow 2s ease infinite;
  -moz-animation: glow 2s ease infinite;
  animation: glow 2s ease infinite;
}

.next {
  position: absolute;
  left: 60%;
  top: 63%;
  width: 8rem;
  height: 4rem;
  transition: width 2s, height 2s;
  cursor: pointer;
}
.next:hover {
  width: 7rem;
  height: 3rem;
  cursor: pointer;
}

.room-message {
  display: table;
  margin: 18rem auto;
}

.nav-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span {
  color: #aaaaaa;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23rem;
  height: 8.8rem;
  justify-content: space-between;
}

.small {
  width: 10rem;
}

span h4 {
  color: #aaaaaa;
}

#code-input {
  margin-top: 2em;
}

.button-link {
  margin-top: 2.5rem;
}

.av-top {
  z-index: 10;
}

.av-bot {
  z-index: 1;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.35);
}

.av-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* And this will center them vertically */
}

h4 {
  color: whitesmoke;
  margin-left: 0.5em;
  margin-top: -0.05em;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
@keyframes glow {
  from {
    box-shadow: 0 0 rgba(122, 0, 255, 1);
  }

  to {
    box-shadow: 0 0 10px 8px transparent;
    border-width: 2px;
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #aaaaaa;
  background: rgba(122, 0, 255, 0.35);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.35),
    rgba(255, 115, 0, 0.35),
    rgba(255, 251, 0, 0.35),
    rgba(73, 255, 0, 0.35),
    rgba(0, 255, 213, 0.35),
    rgba(0, 43, 255, 0.35),
    rgba(0, 0, 0, 0.35),
    rgba(255, 0, 200, 0.35),
    rgba(255, 0, 0, 0.35)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

